@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputName2">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Digite el Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Digite contraseña anterior</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">contraseña nueva</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div>
                                    <h5>Género</h5>
                                    <select class="form-control">
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                    </select>
                                </div>
                                <div>
                                    <h5>Ubicación</h5>
                                    <select class="form-control">
                                        <option>Costa Rica</option>
                                        <option>Panáma</option>
                                    </select>
                                </div>
                                <div>
                                    <br />
                                    <button type="submit" class="btn btn-default">Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-8 col-md-4">
                            <a href="#" class="thumbnail">
                                <img src="~/content/imagenes/user.png">
                            </a>
                            <div class="form-group">
                                <label for="exampleInputFile">Modificar foto de Perfil</label>
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

