<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="~/content/imagenes/user.png">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h4><Strong>Nombre Completo</Strong></h4>
                            <h4>Nombre de Usuario: </h4>
                            <h4>País: </h4>
                            <h4>Edad: </h4>
                            <h4>Género</h4>
                            <h4>Se inscribió el: </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3"></div>
                        <a class="btn btn-default" href="#" role="button">Editar Perfil</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">Actividades Recientes</h4>
                            <p class="list-group-item-text">...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

