@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="~/content/imagenes/user.png">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h4><Strong>Nombre Banda/Solista</Strong></h4>
                            <h4>Nombre de Usuario: </h4>
                            <h4>Se inscribio el: </h4>
                            <h4>GENERO MUSICAL: </h4>
                            <h4>Año de Creacion</h4>
                            <h4>Hashtag: </h4>
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    <div class="row">
                        <a class="btn btn-default" href="#" role="button">Editar Perfil</a>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Integrantes</div>
                                <div class="panel-body">
                                    <p>...</p>
                                </div>

                                <!-- Table -->
                                <table class="table">
                                    ...
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Bibliografia</h3>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#noticias">Noticias</a></li>
                    <li><a data-toggle="tab" href="#eventos">Eventos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="noticias" class="tab-pane fade in active">
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <h4><strong>Titulo</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment">Contenido:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="button" class="btn btn-info">Postear</button>
                    </div>
                    <div id="eventos" class="tab-pane fade">
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <h4><strong>Titulo</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4><strong>Lugar</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment">Contenido:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <button type="button" class="btn btn-info">Postear</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">Actividades Recientes</h4>
                            <p class="list-group-item-text">...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>