
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</head>

<body>
    <div class="jumbotron">
        <div class="row">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Discografia</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-offset-1">
                            <table class="table-striped table-hover table-bordered" >
                                <thead>
                                    <tr>
                                        <th align="center">Nombre del disco</th>
                                        <th align="center">Descripcion</th>
                                        <th align="center">Genero Musical</th>
                                        <th align="center">Ano publicacion</th>
                                        <th align="center">Sello discografico</th>
                                        <th align="center">Clasificacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <th scope="row">1</th>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td><input type="checkbox" /></td>

                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <th scope="row">1</th>
                                        <td>Otto</td>
                                        <td>Markmmmmmmmmmmmmmmmmmmmmmmmmmmmm</td>
                                        <td>Otto</td>
                                        <td>Otto</td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" />
                                                </label>
                                            </div>
                                        </td>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>Otto</td>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" />
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br /></br><br /><br />
                    <div class="row">
                        <div class="col-md-2 col-sm-offset-1">
                            <button class="btn btn-default" type="submit">Agregar</button>

                        </div>
                        <div class="col-md-2 col-sm-offset-1">
                            <button class="btn btn-default" type="submit">Detalles/Modificar</button>

                        </div>
                        <div class="col-md-2 col-sm-offset-1">
                            <button class="btn btn-default" type="submit">Eliminar</button>

                        </div>
                        
                    </div>
                    <br />
                    
                </div>

            </div>
        </div>
    </div>
</body>
</html>

